name: Build and Deploy to EC2

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

env:
  EC2_HOST: ${{ secrets.EC2_HOST }}
  EC2_USER: ${{ secrets.EC2_USER }}
  EC2_KEY: ${{ secrets.EC2_PRIVATE_KEY }}
  APP_NAME: laravel-starter
  APP_PATH: /var/www/laravel-starter

jobs:
  deploy:
    name: Deploy to EC2
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main' && github.event_name == 'push'
    environment: production

    steps:
      - name: Setup SSH key
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.EC2_PRIVATE_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan -H ${{ secrets.EC2_HOST }} >> ~/.ssh/known_hosts

      - name: Run post-deploy commands on EC2
        run: |
          ssh ${{ secrets.EC2_USER }}@${{ secrets.EC2_HOST }} << 'EOF'
            cd ${{ env.APP_PATH }}

            # Sync code main
            git checkout main
            git pull origin main

            # Install any missing composer dependencies
            composer install --optimize-autoloader --no-dev

            # Run database migrations
            php artisan migrate --force

            # Build FE
            npm install
            npm run build

            # Clear application cache
            php artisan cache:clear
            php artisan config:clear
            php artisan view:clear
            php artisan route:clear

            # Optimize application
            php artisan optimize

            # Retart nginx
            sudo systemctl restart nginx

          EOF
